target
.settings
.shell_history
.project
.classpath
/.idea
*.iml
*.eml
*.userlibraries
/jqassistant/store
/jqassistant/certificates
/jqassistant/logs
/jqassistant/store_lock
.gradle/
build/
data/
neo4j-home/
*.png
*.png.cache

# Project exclude paths
/asciidoc/out/
/asciidoc/out/test/classes/
/checkstyle/out/
/checkstyle/out/production/classes/
/cpp/out/
/cpp/out/production/classes/
/cpp/out/test/classes/
/excel/out/
/excel/out/production/classes/
/excel/out/test/classes/
/git/out/
/git/out/production/classes/
/git/out/test/classes/
/jacoco/out/
/jacoco/out/production/classes/
/javaparser/out/
/javaparser/out/production/classes/
/javaparser/out/test/classes/
/linecount/out/
/linecount/out/production/classes/
/linecount/out/test/classes/
/ods/out/
/ods/out/production/classes/
/ods/out/test/classes/
/plaintext/out/
/plaintext/out/production/classes/
/plantuml/out/
/plantuml/out/production/classes/
/plantuml/out/test/classes/
/pmd/out/
/pmd/out/production/classes/
/pmd/out/test/classes/
/spotbugs/out/
/spotbugs/out/production/classes/
/spotbugs/out/test/classes/
